openapi: 3.1.0
x-stoplight:
  id: 77oj04jdv0mh7
info:
  title: Grant Management
  version: v2
  description: |-
    **Connection Timeouts**
    | Timeout | Time (Seconds) |
    |---------|----------------|
    | Open    | 10             |
    | Read    | 20             |
servers:
  - url: 'https://global-api-sandbox.afterpay.com'
    description: Sandbox
  - description: Production
    url: 'https://global-api.afterpay.com'
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
  schemas:
    RetrieveGrantRequest:
      type: object
      properties:
        customerId:
          description: ID of the customer that approved the customer grant.
          type: string
          minLength: 1
          maxLength: 128
          example: CST_AQmxh4y_QGoNNIG5NUw0jttqyYedL1LklACQdyJ3H-Vs6WmLtP6A_C7XjQNohvY
        grantId:
          description: ID of the customer grant to retrieve.
          type: string
          minLength: 1
          maxLength: 256
          example: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
      required:
        - customerId
        - grantId
      x-stoplight:
        id: vl409see4m3rj
    Grant:
      type: object
      title: grant
      description: Describes a grant provided by Cash App.
      additionalProperties: false
      properties:
        id:
          type: string
          description: Unique identifier for this grant issued by Cash App.
          minLength: 1
          maxLength: 256
          example: GRG_221243dc6985a6819ff6950c1a21332f7bc4a46ebd49b5a7002908ab768e8e5ff7831e084d0d2c9d8d939793b55eff50
        intent:
          type: string
          description: Either ON_FILE or ONE_TIME
          enum:
            - ON_FILE
            - ONE_TIME
          example: ON_FILE
        type:
          type: string
          description: CASHAPP for all Cash App Pay transactions
          enum:
            - CASHAPP
          example: CASHAPP
        details:
          type: object
          properties:
            status:
              description: |
                Describes whether or not this grant can be used to perform the action associated with it.

                If `ACTIVE`, it can be used to perform the action.

                If `EXPIRED`, it may no longer be used to perform the action due to the current time being past the "expires_at" time.

                If `CONSUMED`, it was already redeemed to perform the action and cannot be used again.

                If `REVOKED`, the customer or merchant explicitly unauthorized the grant, preventing it from being used to perform the action.
              type: string
              enum:
                - ACTIVE
                - EXPIRED
                - CONSUMED
                - REVOKED
              example: ACTIVE
            cashapp:
              type: object
              properties:
                customerId:
                  type: string
                  minLength: 1
                  maxLength: 128
                  example: CST_AQmxh4y_QGoNNIG5NUw0jttqyYedL1LklACQdyJ3H-Vs6WmLtP6A_C7XjQNohvY
                cashtag:
                  type: string
                  description: 'A publicly-accessible, unique identifier (username) for individuals and businesses using Cash App.'
                  example: $someCashTag
              required:
                - customerId
                - cashtag
              examples:
                - customerId: CST_AQmxh4y_QGoNNIG5NUw0jttqyYedL1LklACQdyJ3H-Vs6WmLtP6A_C7XjQNohvY
                  cashtag: $someCashTag
            createdAt:
              type: string
              description: 'When this grant was created, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).'
              example: '2024-07-08T22:42:46.039Z'
            updatedAt:
              type: string
              description: 'When this grant was last updated, in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).'
              example: '2024-07-08T22:42:46.039Z'
            expiresAt:
              type: string
              description: |
                If present, indicates when the grant's status will become EXPIRED, preventing a client from using it to create payments or refunds.

                The timestamp is in the [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339) format (UTC).
              example: '2034-07-08T22:42:46.039Z'
          required:
            - status
            - cashapp
            - createdAt
            - updatedAt
            - expiresAt
      required:
        - id
        - intent
        - type
        - details
      x-stoplight:
        id: 3s77gcmxmgb3v
    grant.status.updated:
      type: object
      title: 'Event: grant.status.updated'
      description: |-
        **When is this event triggered?**

        This event is triggered when a Cash App Pay grant status has been updated.
      properties:
        type:
          type: string
          description: The type of event that occurred. `grant.status.updated` for this event.
          example: grant.status.updated
        eventId:
          type: string
          description: A unique identifier provided by Cash App for the event.
          example: WE_7shnizag2fv6p4ub7l9cmhusg
        grant:
          $ref: '#/components/schemas/Grant'
        timestamp:
          type: string
          description: When the webhook event was created
          example: '2019-08-24T14:15:22Z'
      required:
        - type
        - eventId
        - grant
        - timestamp
      x-stoplight:
        id: crfg4mzg6sp73
security:
  - sec0: []
paths:
  /v2/grants/retrieve:
    post:
      summary: Retrieve Grant
      description: Retrieves a Cash App Pay customer grant by the ID of the customer that approved it and its own ID.
      operationId: retrieve-grant
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
          description: Content-Type
        - name: User-Agent
          in: header
          required: true
          schema:
            type: string
          description: 'See our [User Agent Header](https://developers.cash.app/docs/merchant/api-development/api-calls-payment-flows/user-agent-header) page for formatting details'
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          description: Accept
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveGrantRequest'
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  grant:
                    $ref: '#/components/schemas/Grant'
                required:
                  - grant
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    example: unauthenticated
                  errorId:
                    type: string
                    example: 6024ab212498442
                  message:
                    type: string
                    example: Invalid Merchant API credentials were passed in the Authorization header.
                  httpStatusCode:
                    type: integer
                    example: 401
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    example: unauthorized
                  errorId:
                    type: string
                    example: 6024ab212498442
                  message:
                    type: string
                    example: The request was forbidden
                  httpStatusCode:
                    type: integer
                    example: 403
      x-stoplight:
        id: z8cq63cubn3s2
  /v2/grants/revoke:
    post:
      summary: Revoke Grant
      description: Revokes a Cash App Pay customer grant by the ID of the customer that approved it and its own ID.
      operationId: revoke-grant
      parameters:
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
          description: Content-Type
        - name: User-Agent
          in: header
          required: true
          schema:
            type: string
          description: 'See our [User Agent Header](https://developers.cash.app/docs/merchant/api-development/api-calls-payment-flows/user-agent-header) page for formatting details'
        - name: Accept
          in: header
          schema:
            type: string
            default: application/json
          description: Accept
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveGrantRequest'
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  grant:
                    $ref: '#/components/schemas/Grant'
                required:
                  - grant
        '401':
          description: Unauthenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    example: unauthenticated
                  errorId:
                    type: string
                    example: 6024ab212498442
                  message:
                    type: string
                    example: Invalid Merchant API credentials were passed in the Authorization header.
                  httpStatusCode:
                    type: integer
                    example: 401
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorCode:
                    type: string
                    example: unauthorized
                  errorId:
                    type: string
                    example: 6024ab212498442
                  message:
                    type: string
                    example: The request was forbidden
                  httpStatusCode:
                    type: integer
                    example: 403
      x-stoplight:
        id: wxkpt0d0ruk09
